.button {
    cursor: pointer;
}

.back {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--inventi-blue);
    color: var(--inventi-blue);
    font-size: 10px;
    width: 30px;
    height: 29px;
}

.addItem {
    background-color: var(--inventi-blue);
    color: white;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    max-width: 100px;
}

.submit {
    background-color: var(--inventi-blue);
    color: white;
    padding: 15px;
    border: solid 1px var(--inventi-blue);
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

.cancel {
    background-color: #f6f6f6;
    color: var(--inventi-blue);
    padding: 15px;
    border: solid 1px transparent;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

.cancel:hover {
    border: solid 1px black
}