.btnPdf {
    background: var(--inventi-blue);
}

.btnContainer {
    display: flex;
    margin: 15px 0 0 0;
    justify-content: space-between;
}

.payNow {
    background: var(--inventi-red);
}

.btnContainer button {
    cursor: pointer;
    font-size: 14px;
    height: 45px;
    width: 49%;
    border: 0;
    border-radius: 6px;
    color: #ffffff;
}