@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --inventi-blue: #1C5196;
  --inventi-red: #C0392B;
  --inventi-orange: #E67E22;
  --inventi-green: #10513F;
  --inventi-neutral: #A8B5C2;
  --background-color: #F0F2F5;
  --input-hover: #E4EAF2;
  --form-border: rgba(213, 215, 217, 0.5);
  --formGroup-border: #A8B5C2;
  --success-bg: #E6FAF4;
  --error-bg: #FDDDD3;
  --fontColour-forVerification: #663000;
  --forVerification-bg: #FFEECC;
  --status-bg-green: #E6FAF4;
  --pending-bg: #FFEECC;
  --pending-txt: #663000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  text-decoration: none;
}

main {
  background-color: var(--background-color);
}

main.login {
  background-color: white;
}

.container {
  min-height: 76.5vh;
  width: 95%;
  margin: auto;
}

.main-btn {
  background-color: var(--inventi-blue);
  color: white;
  border: 0;
  border-radius: 6px;
  height: 45px;
  padding-inline: 30px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title-section {
  font-size: 20px;
  color: black;
  font-weight: 800;
  margin-bottom: 10px;
}