body,
html {
	height: 100%;
}

body,
html {
	background-color: #f4f4f4;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.875em;
	color: #34495e;
}

input,
select,
textarea {
	color: #34495e;
}

.form-control {
	color: #34495e;
}

img.img-login-with {
	width: 40px;
	border: 1px solid #c0c0c0;
	border-radius: 40px;
	padding: 5px;
}

div.page-header {
	padding: 20px;
	background-color: #fff;
	display: table-cell;
	vertical-align: middle;
}

div.vertical-line {
	border-left: 2px solid #dfdfdf;
	height: 100%;
}

span.login-name {
	font-weight: 500;
	color: #252525;
}

div.user-name {
	font-size: 0.875em;
}

div.user-role {
	font-size: 0.875em;
}

img.user-img {
	max-width: 50px;
	border-radius: 50px;
	border: 2px solid #9b9a99;
}

i.sile-notification-icon {
	font-size: 1.5em;
}

a.sile-notification-icon,
a.sile-notification-icon:visited,
a.sile-notification-icon:hover {
	color: #34495e;
}

i.site-menu-icon {
	font-size: 1.5em;
}

i.nav-icon {
	font-size: 1.2em;
}

a,
a:visited,
a:hover {
	color: var(--text-color);
}

a.nav-link,
a.nav-link:visited {
	color: #ffffff;
}

a.nav-link.active {
	-webkit-text-stroke: 0.5px;
	background: rgba(255, 255, 255, 1);
	color: var(--text-color);
}

a.nav-link.active i.icon {
	color: var(--text-color);
}

div.main-display {
	padding: 10px;
}

div.main-display-container {
	height: 100%;
}

div.module-title {
	font-size: 18px;
	color: rgba(28, 81, 150);
	margin-bottom: 20px;
}

div.sub-menu-container {
	padding: 10px 20px 10px 10px;
	background-color: #ffffff;
	height: 100%;
	min-width: 230px;
}

div.page-title {
	font-size: 1.5rem;
	margin-bottom: 10px;
	padding: 10px 0;
}

/*error page*/
span.text-404 {
	font-size: 4em;
	width: auto;
}

img.img-404 {
	max-width: 100%;
}

.btn-primary {
	background: rgba(28, 81, 150, 1);
	border-color: rgba(28, 81, 150, 1);
}

.btn-primary:hover {
	background: #1c5196;
	border-color: #1c5196;
}

.btn-primary:focus {
	background: #1c5196;
	border-color: #1c5196;
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: rgba(28, 81, 150, 0.5);
	border-color: rgba(28, 81, 150, 0.5);
}

.btn,
.form-control {
	font-size: inherit;
}

label.text-requireda:after,
span.text-requireda:after {
	content: " * ";
	color: rgb(220, 53, 69);
}

.form-inline {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-align: center;
	align-items: center;
}

ul.tabs {
	display: flex;
	list-style: none;
	padding: 0px;
	border-bottom: 2px solid var(--sidebar-background-color);
	width: 300px;
}

ul.tabs li a.tab-link {
	padding: 10px 30px;
	border-radius: 5px 5px 0 0;
	font-size: 14px;
	color: var(--text-color);
	padding: 1rem 0px;
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
}

ul.tabs li a.tab-link.active {
	background-color: var(--sidebar-background-color);
	border-radius: 5px 5px 0 0;
	color: #ffffff;
	padding: 10px 30px;
	font-size: 14px;
}

@media (min-width: 768px) {
	img.img-404 {
		width: 400px;
	}

	span.text-404 {
		font-size: 4em;
		width: auto;

		transform: rotate(329deg);
		/* Legacy vendor prefixes that you probably don't need... */

		/* Safari */
		-webkit-transform: rotate(329deg);

		/* Firefox */
		-moz-transform: rotate(329deg);

		/* IE */
		-ms-transform: rotate(329deg);

		/* Opera */
		-o-transform: rotate(329deg);
	}
}
