.card {
    background-color: white;
    padding: 12px;
    border-radius: 10px;
}



.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid var(--inventi-neutral);
}

.date {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.desciption p {
    margin-bottom: 5px;
    font-size: 12px;
}

.headStatus {
    display: flex;
    gap: 5px;
    align-items: center;
}

.id {
    font-size: 10px;
    font-weight: bold;
    background-color: var(--inventi-blue);
    color: white;
    border-radius: 5px;
    padding: 4px;
}

.image {
    width: 140px;
    min-height: 100px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
/* 
.description_box {
    display: flex;
    justify-content: space-between;
    gap: 5px;
} */