/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sub-menu-category {
    overflow: auto;
    overflow-y: hidden;
  }
  .sub-menu-list {
    width: 100%;
  }
  .dashboard-calendar {
    display: none;
  }
  .btn-delete-filter {
    display: none;
  }
  .btn-download {
    display: none;
  }
  .btn-import {
    display: none;
  }
  .btn-sm.filter {
    border: 1px solid #b4b4b460;
    width: 100%;
    background: none;
    border-radius: 5px 5px 5px 5px;
  }
  input.search-box {
    background-color: rgba(188, 224, 253, 0.3);
    border-radius: 5px 5px 5px 5px;
  }
  input.search-box::placeholder {
    color: #6098e2;
  }
  .bi-search::before {
    color: #6098e2;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
