.container {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.labels {
    background-color: #6098E2;
    font-size: 14px;
    border-radius: 5px;
    padding: 12px 8px;
    width: 40%;
  }
  
  .labels p {
    color: #FFFFFF;
    margin: 0;
    line-height: 25px;
  }
  
  .values {
    width: 60%;
    padding: 12px 8px;
    font-size: 14px;
    padding: 12px 8px;
    background: #F1F1F1;
  }
  
  .values p {
    line-height: 25px;
    margin: 0;
    color: black;
  }